.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  padding: 0 10% 0 10%;
  margin:0 auto 0;
  display: inline-block;
}

body {
  padding-top: 3%;
  background-color: #000;
  text-align: center;
}

h1 {
  margin: 30px;
  /*font-family: 'Lobster', cursive;*/
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #f6da63;
}

p {
  font-size: 2rem;
  color: #0c9463;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Josefin Sans', sans-serif;
}


.img1,.img2 {
  width: 120%;
  left:20%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
